/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1 {
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
}

.page2 {
  background-image: linear-gradient(135deg, #ffe985 10%, #fa742b 100%);
}

.home {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}

.nav-items {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.nav-items li {
  margin-right: 3rem;
}

.nav-items a {
  color: black;
  text-decoration: none;
}
